In [ ]:
QUE. 1

In [ ]:
write a program to accept precentage from the user and display the grade according to the following criteria:

In [12]:
M = int(input("Enter your Marks"))
if M > 90 :
    print("Congratulations you pass with 'A' grade.")
elif M <= 90 and M > 80 :
    print("Congratulations you pass with 'B' grade.")
elif M <= 80 and M >= 60 :
    print("Congratulations you pass with 'C' grade.")
else :
    print(" you pass with 'D' grade.")

Enter your Marks 55

 you pass with 'D' grade.

In [ ]:
QUE. 2

In [ ]:
write a program to accept the cost price of a bike and display the road tax to be according to the following criteria :

In [24]:
cost = int(input("Enter your COST OF BIKE"))
if cost > 100000 :
    print("You paid 15% of TEX.")
elif cost <= 100000 and cost > 50000 :
    print("You paid 10% of TEX.")
else :
    print("You paid 5% of TEX.")

Enter your COST OF BIKE 50000

You paid 5% of TEX.

In [ ]:
QUE. 3

In [ ]:
accept any city from the user and displsy monuments of that city :

In [23]:
print('choose the city between "Delhi" , "Agra" , "Jaipur" .')


city = input("Enter your choice ")
if city == "Delhi" :
    print("The monument of that city is 'RED FORT'")
elif city == "Agra" :
    print("The monument of that city is 'TAJ MAHAL'")
else :
    print("The monument of that city is 'JAL MAHAL'")

choose the city between "Delhi" , "Agra" , "Jaipur" .

Enter your choice  Jaipur

The monument of that city is 'JAL MAHAL'

In [ ]:
QUE. 4

In [ ]:
write a python program to check how many times a given number can be divide by 3 before it is less than or equal to 10

In [26]:
def divide_by_3(n):
    count = 0
    while n >= 10:
        n = n / 3
        count += 1
    return count

number = int(input("Enter a number: "))
result = divide_by_3(number)
print(f"The number can be divided by 3 {result} times before it is less than or equal to 10.")

Enter a number:  958628

The number can be divided by 3 11 times before it is less than or equal to 10.

In [ ]:
QUE. 5

In [ ]:
Why and When to use while loop in python give a description with example

In [ ]:
The while loop in Python is used to repeatedly execute a block of code as long as a certain condition is met. The code block within the loop will keep executing until the condition becomes false.

Here's an example to illustrate the use of a while loop in Python:

In [28]:
num = 1
while num <= 10:
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
The while loop is often used when the number of iterations is not known beforehand, and the loop is used to repeat a task until a certain condition is met. For example, when reading data from a file, the loop continues until the end of the file is reached.

In [ ]:
QUE. 6

In [ ]:
use nested while loop to print 3 different pattern.

In [ ]:
1.Right triangle pattern:

In [29]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*", end="")
        j = j + 1
    print()
    i = i + 1

*
**
***
****
*****

In [ ]:
2. Reverse right triangle pattern:

In [30]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= (rows - i + 1):
        print("*", end="")
        j = j + 1
    print()
    i = i + 1

*****
****
***
**
*

In [ ]:
3. This is number pattern

In [31]:
row = 5
for i in range(1, row + 1, 1):
   
    for j in range(1, i + 1):
        print(j, end=' ')

    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
QUE. 7

In [ ]:
reverse a while loop to display numbers from 10 to 1

In [32]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1